<link rel="stylesheet" href="{{ url_for('static', filename='css/iso_certified.css') }}">

<section id="iso-certified" class="sustainability-layer fade-in-layer">
    <div class="sustainability-text">
        <h1>ISO Certified</h1>
        <p>Q.C. Styropackaging and Multiplast Corporation is proudly certified with ISO standards.</p>

        <div class="iso-images">
            <img src="{{ url_for('static', filename='images/QC.png') }}" class="iso-logo">
            <img src="{{ url_for('static', filename='images/certified.png') }}" class="iso-logo">
            <img src="{{ url_for('static', filename='images/MC.png') }}" class="iso-logo">
        </div>
    </div>
</section>
