{% extends "web.html" %}

{% block title %}QC Styropackaging Corporation & Multiplast Corporation{% endblock %}
{% block meta_description %}QC and MC packaging products, career opportunities, and contact information.{% endblock %}
{% block og_image %}{{ (canonical_base_url or request.url_root.rstrip('/')) }}{{ url_for('static', filename='images/Intro.png') }}{% endblock %}
{% block twitter_image %}{{ (canonical_base_url or request.url_root.rstrip('/')) }}{{ url_for('static', filename='images/Intro.png') }}{% endblock %}

{% block head %}
{{ super() }}

<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.bundle.css') }}">
<link rel="preload" as="image" href="{{ url_for('static', filename='images/products/Tray.avif') }}" type="image/avif">
{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block structured_data %}
{{ super() }}
<script type="application/ld+json" nonce="{{ csp_nonce }}">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "Homepage sections",
  "itemListElement": [
    { "@type": "ListItem", "position": 1, "name": "Products", "url": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/#products" },
    { "@type": "ListItem", "position": 2, "name": "About", "url": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/#about-us" },
    { "@type": "ListItem", "position": 3, "name": "Careers", "url": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/#jobs" },
    { "@type": "ListItem", "position": 4, "name": "Sustainability", "url": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/#sustainability" },
    { "@type": "ListItem", "position": 5, "name": "ISO Certified", "url": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/#iso-certified" },
    { "@type": "ListItem", "position": 6, "name": "Contact", "url": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/#contact-us" }
  ]
}
</script>
<script type="application/ld+json" nonce="{{ csp_nonce }}">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    { "@type": "ListItem", "position": 1, "name": "Home", "item": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/" },
    { "@type": "ListItem", "position": 2, "name": "Products", "item": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/#products" },
    { "@type": "ListItem", "position": 3, "name": "About", "item": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/#about-us" },
    { "@type": "ListItem", "position": 4, "name": "Careers", "item": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/#jobs" },
    { "@type": "ListItem", "position": 5, "name": "Sustainability", "item": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/#sustainability" },
    { "@type": "ListItem", "position": 6, "name": "ISO Certified", "item": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/#iso-certified" },
    { "@type": "ListItem", "position": 7, "name": "Contact", "item": "{{ (canonical_base_url or request.url_root.rstrip('/')) }}/#contact-us" }
  ]
}
</script>
{% endblock %}

{% block page_content %}

<div class="custom-home-page">

    {% include "sections/header.html" %}

    <!-- Page Sections -->
    {% include "sections/intro.html" %}
    {% include "sections/standard.html" %}
    {% include "sections/jobs.html" %}
    {% include "sections/sustainability.html" %}
    {% include "sections/testimonial.html" %}
    {% include "sections/about.html" %}
    {% include "sections/iso_certified.html" %}
    {% include "sections/contact_us.html" %}

    <!-- Back to top button -->
    <button id="back-to-top" aria-label="Back to top">
        <svg class="icon icon-lg" aria-hidden="true"><use href="#icon-arrow-up"></use></svg>
    </button>

</div>

{% endblock %}

{% block footer %}
{% include "sections/footer.html" %}
<script defer src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

